/* 平板手機 */ /* 平板手機 */ /* 平板手機 */ /* 平板手機 */ /* 平板手機 */ /* 平板手機 */ /* 平板手機 */ /* 平板手機 */
@media screen and (max-width: 768px) {
  .container-header {
    flex-direction: column;
  }
  /* 內文 */ /* 內文 */ /* 內文 */ /* 內文 */ /* 內文 */ /* 內文 */ /* 內文 */ /* 內文 */ /* 內文 */
  .background-img1 {
    padding: 1em;
    margin: 2em 0;
    color: #474747;
    background: whitesmoke; /*背景色*/
    border-left: double 7px #a4d2ff; /*左線*/
    border-right: double 7px #a4d2ff; /*右線*/
  }
  .middle-text {
    border-left: double 9px #a4d2ff; /*左線*/
    border-right: double 9px #a4d2ff; /*右線*/
  }
  .section1 {
    background-size: cover;
  }
  /* footer */ /* footer */ /* footer */ /* footer */ /* footer */ /* footer */ /* footer */
  .container-footer {
    flex-direction: column;
  }
  h4 {
    text-align: center;
  }
  .form {
    flex-direction: column;
  }
}
@media screen and (max-width: 618px) {
  fieldset {
    display: block;
    padding-inline: 10px;
  }
  .p1 {
    letter-spacing: 0px;
    padding-left: 2%;
  }
}

/* PC版 */ /* PC版 */ /* PC版 */ /* PC版 */ /* PC版 */ /* PC版 */ /* PC版 */ /* PC版 */ /* PC版 */ /* PC版 */

/* ======== header======== */ /* ======== header======== */ /* ======== header======== */
body {
  /* background-color: #aebec9; */
  /* background: rgb(240, 249, 255); */
  background: -moz-linear-gradient(
    top,
    rgba(240, 249, 255, 1) 0%,
    rgba(203, 235, 255, 1) 47%,
    rgba(161, 219, 255, 1) 100%
  );
  margin: 0;
  padding: 0;
}
.main-header {
  /* background-color: #aebec9; */
  background: rgb(240, 249, 255); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(240, 249, 255, 1) 0%,
    rgba(203, 235, 255, 1) 47%,
    rgba(161, 219, 255, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(240, 249, 255, 1) 0%,
    rgba(203, 235, 255, 1) 47%,
    rgba(161, 219, 255, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(240, 249, 255, 1) 0%,
    rgba(203, 235, 255, 1) 47%,
    rgba(161, 219, 255, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */
  border-radius: 3px;
  max-width: 100%;
  /* width: 100%; */
}
.container-header {
  display: flex;
  align-items: center;
  padding-left: 20px;
  justify-content: center;
  margin: auto;
}
.nav-header {
  margin: auto;
}
.btn1 {
  width: 90px;
  margin-left: 40px;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  filter: brightness(1.1);
  filter: drop-shadow(3px 3px 3px #333);
}
@keyframes goBorder {
  0% {
    left: -80px;
  }
  50%,
  100% {
    left: 5%;
  }
}
.btn1:hover::before {
  position: absolute;
  top: 3rem;
  text-align: center;
  color: #fff;
  font-size: 1em;
  padding: 5px;
  border-radius: 5px;
  content: "";
  position: relative;
  letter-spacing: 1px;
  animation: goBorder 2s infinite;
  width: 80%;
}
.btn1::before {
  content: " ";
  display: block;
  background-color: #410acb;
  transition: 0.4s 0.2s;
}

.btn2 {
  width: 90px;
  margin-left: 40px;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  filter: brightness(1.1);
  filter: drop-shadow(3px 3px 3px #333);
  animation-name: tossing;
  animation-duration: 5.5s;
  animation-iteration-count: infinite;
}
.btn2:hover::before {
  position: absolute;
  top: 3rem;
  text-align: center;
  color: #fff;
  font-size: 1em;
  padding: 5px;
  border-radius: 5px;
  content: "";
  position: relative;
  letter-spacing: 1px;
  animation: goBorder 2s infinite;
  width: 80%;
}
.btn2::before {
  content: " ";
  display: block;
  background-color: #410acb;
  transition: 0.4s 0.2s;
}
.btn3 {
  width: 90px;
  margin-left: 40px;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  filter: brightness(1.1);
  filter: drop-shadow(3px 3px 3px #333);
}
.btn3:hover::before {
  position: absolute;
  top: 5.6rem;
  text-align: center;
  color: #fff;
  font-size: 1.2em;
  background: #410acb;
  padding: 5px;
  border-radius: 5px;
  content: "薪資";
  position: relative;
  letter-spacing: 2px;
}
.btn3:after {
  content: "";
  position: absolute;
}
.btn4 {
  width: 90px;
  margin-left: 40px;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  filter: brightness(1.1);
  filter: drop-shadow(3px 3px 3px #333);
}
.btn4:hover::before {
  position: absolute;
  top: 5.6rem;
  text-align: center;
  color: #fff;
  font-size: 1.2em;
  background: #410acb;
  padding: 5px;
  border-radius: 5px;
  content: "請假";
  position: relative;
  letter-spacing: 2px;
}
.btn4:after {
  content: "";
  position: absolute;
}
.btn5 {
  width: 90px;
  margin-left: 40px;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  filter: brightness(1.1);
  filter: drop-shadow(3px 3px 3px #333);
}
.btn5:hover::before {
  position: absolute;
  top: 5.6rem;
  text-align: center;
  color: #fff;
  font-size: 1.2em;
  background: #410acb;
  padding: 5px;
  border-radius: 5px;
  content: "批准";
  position: relative;
  letter-spacing: 2px;
}
.btn5:after {
  content: "";
  position: absolute;
}
.logo-header {
  width: 100px;
}
.info-img {
  width: 45px;
}
.sign-out {
  text-decoration: none;
  color: blueviolet;
  padding: 20px 1rem;
}
.sign-out:hover {
  border-radius: 100%;
  font-weight: bold;
  font-size: 60%;
  transform: scale(1.9);
  cursor: pointer;
}
.sign-out:active {
  transform: scale(1);
  /* box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.2); */
}
.logo-header:hover {
  transform: scale(1.05);
}
.logo-header:active {
  transform: scale(1);
}
/* ======== 內文======== */ /* ======== 內文======== */ /* ======== 內文======== */
.section1 {
  padding: auto;
  opacity: 0.9;
  border-radius: 10px;
  background-image: url(/src/images/background3.png);
  background-size: cover;
}
/* .solind1 {
    border-width: thick;
    border-style: solid;
    padding: 20% 10% 10% 10%;
    box-shadow: 0px 0px 5px 2px #333;
    margin: 2em 0em 1em 0em;
    color: #0b0b0b;
    vertical-align: bottom;
    border-radius: 1%;
  } */
.middle-text {
  border-style: solid;
  padding: 2% 30% 2% 30%;
  margin: 2em 0em -1em 0em;
  color: #fbf9f9;
  vertical-align: bottom;
  border-radius: 1%;
}
p1 {
  color: #410acb;
  text-align: left;
  font-weight: bold;
  letter-spacing: 8px;
  padding-left: 20px;
}
legend {
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
  text-align: center;
  animation: bigg 3s infinite;
  transform-origin: bottom;
}
@keyframes bigg {
  85% {
    transform: scaleY(1.9);
  }
}
fieldset {
  border-radius: 15px 15px 15px 15px;
  border-color: rgb(237, 237, 235);
  border-width: thick;
  border-style: solid;
  box-shadow: inset 0px 0px 10px 10px #e1b287;
  /* padding-left: 20%; */
}
.test {
  /* box-shadow: inset 500px 100px 1px 1px rgb(193, 189, 189); */
  margin: auto;

  /* 10px 10px 10px 10px rgb(193, 189, 189) */
}
.form {
  /* width: 40%; */
  /* height: 40%; */
  background: linear-gradient(-45deg, #dbd4cb, #cde2e6);
  border-radius: 8px;
  box-shadow: 0 0 30px -10px rgb(36, 36, 36);
  color: #333;
  /* margin: calc(50vh - 430px) auto; */
  padding: 2% 2% 2% 2%;
  /* max-width: calc(100vw - 40px); */
  box-sizing: border-box;
  font-family: cursive;
  position: relative;
  display: flex;
  flex-direction: column;
  animation-name: slideDown;
  animation-duration: 1.5s;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(8%);
  }
  65% {
    transform: translateY(-4%);
  }
  80% {
    transform: translateY(4%);
  }
  95% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(0%);
  }
}
.pp1 {
  text-align: center;
}
#epSet {
  max-width: 50%;
}
#epTt {
  max-width: 50%;
}
.list-group {
  font-size: 18px;
  word-break: break-all;
  list-style-type: disclosure-closed;
}
h2 {
  text-align: center;
}

/* footer */ /* footer */ /* footer */ /* footer */ /* footer */ /* footer */ /* footer */ /* footer */
.main-footer {
  padding: 2px 0 0 0;
  background: linear-gradient(-50deg, rgb(2, 216, 249), rgb(178, 4, 247));
  border-radius: 10px;
}
.container-footer {
  display: flex;
  margin: auto;
  max-width: 100%;
}
.footer-item {
  flex-grow: 1;
  margin: 0 10px;
}
.copyright {
  text-align: center;
  max-width: 100%;
  padding: 5px 0;
  background-color: rgb(178, 4, 247);
  color: rgb(246, 250, 251);
  border-radius: 4px;
}
.inside-item {
  color: #fff;
  line-height: 1.6;
  padding: 10px;
  letter-spacing: 2px;
}
.inside-item:hover {
  color: #ffff00;
  cursor: not-allowed;
}
h4 {
  font-size: 24px;
  border-bottom: 1px dotted #fff;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}
